/* fonts.css */
@font-face {
    font-family: 'AtlasBold';
    src: url('/fonts/AtlasGrotesk-Bold-Web.woff2') format('woff2');
    font-display: swap;
  }
  
  @font-face {
    font-family: 'AtlasRegular';
    src: url('/fonts/AtlasGrotesk-Regular-Web.woff2') format('woff2');
    font-display: swap;
  }
  
  @font-face {
    font-family: 'TiemposTextRegular';
    src: url('/fonts/TiemposTextWeb-Regular.woff2') format('woff2');
    font-display: swap;
  }
  
  @font-face {
    font-family: 'TiemposTextBold';
    src: url('/fonts/TiemposTextWeb-Bold.woff2') format('woff2');
    font-display: swap;
  }
  
  /* Optional: global typography defaults */
  h1, h2, h3, h4, h5, h6 {
    font-family: 'AtlasBold', sans-serif;
  }
  
  p {
    font-family: 'TiemposTextRegular', serif;
  }
  ul {
    font-family: 'TiemposTextRegular', serif;
  }
  