.scroll-results-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.scroll-results__graphic {
  width: 60%;
  position: sticky;
  top: 0;

  height: 100vh;
  overflow: hidden;
  background: #e3f2fe; /* optional, just to see it clearly */
}


.results-scroll__text {
  width: 40%;
  padding: 1rem;
}

.results-step {
  background: #e3f2fe;
  margin-bottom: 1rem;
  transition: opacity 0.8s;
}

.results-step.is-active {
  background: #ddeafc;
}
